name: Create torrent
on:
  push:
    branches:
      - master
      
env:
  name: "Olarila Sequoia 15.7.3"
  comment: "Olarila Sequoia 15.7.3 by Olarila Forum"
  url: "https://download2278.mediafire.com/gs0o3y142cvgQZI2cZzssTR3-4CcZ8BMDCYm5Vxap19qO4d8HByO7pbHcW7Q-2BozRy9lC_PfTO9PO0TXOvitaHtYFgicyy68izBejAlpJV3hYf3e1h-cLD8AkWkxrAp9xyMt5zJqosoNITBNY8qYAk1-DUbYQgbNQmgl504ng/cjhwqch24mwam3i/Olarila+Sequoia+15.7.3.raw"
  file_name: "Olarila+Sequoia+15.7.3.raw"
  piece_size: 19 # Check the README.md for recommended piece size
      
jobs:
  create:
    runs-on: ubuntu-20.04
    steps:
      - name: Install mktorrent
        run: sudo apt-get install mktorrent
        
      - name: Download file
        run: wget -nv -O "$file_name" "$url"
        
      - name: Create torrent using mktorrent
        run: mktorrent -c "$comment" -l $piece_size -o "${name}.torrent" -w "$url" "$file_name"
        
      - name: Upload torrent file
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.name }}
          path: ${{ env.name }}.torrent
